extends ../layout/index
block contenido
  main.container.mt5
    .row
      .col-md-5
        img.img-fluid(src="img/nosotros.jpg", alt="imagen de Nosotros")
      .col-md-7
        h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu arcu, vehicula non erat ut, sollicitudin suscipit ante. Morbi venenatis sagittis justo, sed suscipit diam. Vestibulum molestie vestibulum nisi et vulputate. Cras blandit vehicula tristique. Nunc eleifend felis sit amet mauris posuere, sit amet accumsan magna facilisis. Praesent ac ipsum est. Nam ultrices, nibh a fermentum lobortis, felis ante hendrerit nisi, vitae accumsan turpis risus quis elit.
        p iam faucibus sed. Cras malesuada tristique orci, non sodales est cursus at. Fusce dictum sed eros eu convallis. Maecenas a massa eu diam aliquam imperdiet. Ut iaculis a nisi quis mattis. 
        p Donec eu fermentum dolor. Ut rutrum, massa in congue pellentesque, nisi ipsum facilisis nibh, quis molestie tortor urna eget tellus. Ut in ex et risus ornare pellentesque consequat eget risus. In hac habitasse.
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img.img-fluid(src="img/icono_seguridad.svg", class="img-fluid mb-4")
          h2.mb-4 icono_seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu arcu, vehicula non erat ut, sollicitudin suscipit ante.
        .col-md-4
          img.img-fluid(src="img/icono_destinos.svg", class="img-fluid mb-4")
          h2.mb-4 icono_seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu arcu, vehicula non erat ut, sollicitudin suscipit ante.
        .col-md-4
          img.img-fluid(src="img/icono_precio.svg", class="img-fluid mb-4")
          h2.mb-4 icono_seguridad
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin arcu arcu, vehicula non erat ut, sollicitudin suscipit ante.          


